include header

.container
  if article
    h1= article.title
    .article-tags
      if article.tags && article.tags.length > 0
          strong= __('Tags:') + ' '
          each tag in article.tags
              span.tag= tag
      else
          span.no-tags= __('No tags')
    p(style="white-space: pre-wrap;")= article.content
    hr

    h5= __('Comments')
    .comments-list
      if article.comments && article.comments.length > 0
        each comment in article.comments
          if comment.visible
            .comment-item
              if comment.author && comment.author.username
                p.comment-author 
                  strong= comment.author.username
              else
                p.comment-author
                  strong= __('Anonymous')

              p.comment-text 
                strong= __('Comment:') + ' '
                span #{comment.text}
              p.comment-date 
                small #{comment.createdAt.toLocaleString(lang === 'ua' ? 'uk-UA' : 'fr-FR')}
      else
        p= __('No comments yet')

    hr

    h5= __('Leave a comment')
    if error
      p(style="color: red; margin-bottom: 1rem;")= error
    if user
      form(method="POST", action=`/${lang}/comments/${article._id}`)
        textarea.u-full-width(name="commentText" id="commentText" placeholder=__('Write something...') required minlength="5")= commentText
        button.button-primary(type="submit")= __('Post Comment')
    else
      p= __('Log in to leave a comment.')

style.
  .comment-item {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .article-tags {
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }
  .tag {
    display: inline-block;
    background-color: #e1e1e1;
    color: #333;
    padding: 3px 10px;
    border-radius: 15px;
    margin-right: 5px;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .no-tags {
    font-style: italic;
    color: #999;
  }
