include header

.container
  h1= __('Password recovery')
  if error
    p(style="color:red")= error
  if message
    p(style="color:green")= message
  form(method="POST")
    div
        input(type="email", name="email", placeholder=__('Your email'), required)
    div
        button(type="submit")= __('Send link')
